.background-img {
    background: linear-gradient(180deg, rgba(0,0,0,.75) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 50%, rgba(0,0,0,.75) 100%),
                    url('../holiday-emotions/images/lady-on-sea.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    
}

.logo {
    background: transparent url('../holiday-emotions/images/Group-66.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 87px;
    height: 88px;
    background-position: center;
}

.phone, .business, .cart, .login-icon {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #fff;
    opacity: 1;
}

.header-links {
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.sign-up-btn {
    background-color: transparent;
    padding: 3px 18px 3px 18px !important;
    border: 2.5px solid #EFA00B;
    border-radius: 20px;
    color: #EFA00B;
}

.sign-up-btn:hover {
    color: #b37606;
    border-color:#b37606;
}

.header-links:hover {
    color: #EFA00B;
}

.fa-facebook-f, .fa-instagram, .fa-linkedin-in, .fa-youtube, .fa-twitter {
    color: #f9faf8;
    font-size: 16px;
    padding-right: 12px !important;
  }

  .location-pin {
      padding-right: 7px;
  }

  .location-pin-right {
    padding-left: 10px;
}

  .fa-facebook-f:hover, .fa-instagram:hover, .fa-linkedin-in:hover, .fa-youtube:hover, .fa-twitter:hover {
    color: #EFA00B;
  }

.search-txt, .nav-location-txt, .nav-checkin-txt {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #EFA00B;
    color: #fff;
    font-size: 15px;
    padding-left: 10px !important;
}


textarea:focus, input:focus{
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #EFA00B;
    font-size: 16px;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #EFA00B;
    font-size: 16px;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #EFA00B;
    font-size: 16px;
  }

  .weather {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      height: 250px;
      width: 200px;
      margin-top: 210px;    
  }

.celsius {
    font-size: 24px;
    color: #fff;
    letter-spacing: 1px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: solid 1px #fff;
}

.location-name {
    font-size: 18px;
    color: #fff;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}

.title-container {
    width: 700px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 85px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
}

.sub-title {
    font-size: 15px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
}

.title-btn {
   background-color: #EFA00B;
   color: black;
   text-transform: uppercase;
   border: none;
   padding: 6px 35px;
   border-radius: 20px;
   font-size: 16px;
   font-weight: 600;
}

.title-btn:hover, .nav-submit:hover {
    background-color: #b37606;
}

.side-locations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 250px;
    width: 200px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    list-style-type: none;
    text-align: right;
}

.list-right {
    padding: 7px;
}

.side-locations-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 210px;
}

.side-locations-links {
    text-decoration: none;
    color: #fff;
}

.side-locations-links:hover {
    color: #EFA00B;
}

.hotels, .cars, .stay, .emotions {
    background-color: transparent !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.hotels:hover, .cars:hover, .stay:hover, .emotions:hover {
    color: #EFA00B;
}

.bottom-search-nav {
    border-radius: 50px;
    background-color: #000000;
    max-width: 1200px;
}

.bottom-nav-buttons {
    background-color: transparent;
    border: none;
    color: #EFA00B;
}

.bottom-nav-buttons:hover {
    color: #b37606;
}

.fa-location-pin {
    margin-left: 40px;
    color: #EFA00B;
}

.fa-calendar-alt {
    color: #EFA00B;
}

.nav-submit {
    background-color: #EFA00B;
    color: #000000;
    padding: 27px;
    border: none;
    border-radius: 0 50px 50px 0;
    width: 210px;
    font-size: 18px;
    font-weight: 600;
}

.search-span {
    margin-right: 10px;
}

.dropdown-menu.show {
    background-color: #EFA00B;
}

.bottom-nav-list {
    list-style-type: none;
    font-size: 18px;
    text-align: left;
}

.active {
    color: #EFA00B !important;
}

.bottom-more {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding: 2px;
}

.bottom-more:hover {
    color: #EFA00B;
}

.discover-more-container {
    width: 135px;
}

.bottom-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-image {
    width: 100%;
}

.utilities {
    padding-top: 20px;
}

.height-fix {
    height: 70px;
    position: relative;
    bottom: 0;
    margin-top: 50px;
}

.destinations-icon-container, .activities-icon-container, .dental-holidays-icon-container, .gastronomy-icon-container, .entertainment-icon-container, .shopping-icon-container {
    padding-right: 20px;
}

.second-links {
    text-decoration: none;
    font-size: 20px;
    color: #000000;
}

.second-links:hover {
    color: #EFA00B;
}

/* .slick-prev, .slick-next {
    border: none;
    background: none;
    padding: 10px;
    width: 30px;
    height: 30px;
} */

.fa-chevron-left, .fa-chevron-right {
    color: #EFA00B;
    font-size: 30px;
    cursor: pointer;
    padding: 50px;
}

.fa-chevron-left:hover, .fa-chevron-right:hover {
    color: #b37606;
    cursor: pointer;
}

.carousel-title {
    text-align: center;
    font-weight: 400;
    padding: 50px;
    font-size: 40px;
}

.slick-slide {
    max-width: 400px;
}