body {
    scroll-behavior: smooth;
}

.background-img {
    background: linear-gradient(180deg, rgba(0,0,0,.55) 100%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 50%, rgba(0,0,0,.75) 100%),
                    url('../holiday-emotions/images/alternate-image-landing-page.jpg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    
}

.logo-mobile {
    background: url('../holiday-emotions/images/Group-66.png') no-repeat;
    opacity: 1;
    width: 46px;
    height: 46px;
    background-size: cover;
    background-position: center;
}

.logo-search-container {
    padding: 15px 0 0 0;
}

.mobile-main {
    height: 100vh;
}

.mobile-nav {
    min-height: 18vh;
    position: fixed;
    background: linear-gradient(180deg, rgba(0,0,0,.75) 10%, rgba(0,0,0,0) 100%);
    z-index: 10000;
}

.mobile-margin-right-fix {
    margin-right: 12px;
}

.mobile-input-container {
    border: solid 2px #EFA00B;
    border-radius: 20px;
    padding: 3px;
    height: 35px;
}

.mobile-input {
    background-color: transparent;
    border: none;
    color: #fff;
    max-width: 161px;
}

.fa-magnifying-glass {
    color: #EFA00B;
    font-size: 16px;
    padding-left: 10px;
}

.nav-links {
    display: flex;
    justify-content: center;
    width: 30%;
}

.nav-links li {
    list-style: none;
    padding-bottom: 10px;
}

.nav-bar-container-three a {
    color: #fff;
    text-decoration: none;
    font-size: 28px;
}

.nav-bar-container-three a:hover {
   color: #EFA00B;
}

.burger {
    background-color: #EFA00B;
    width: 79px;
    height: 64px;
    cursor: pointer;
    z-index: 1000;
}

.burger div {
    width: 31px;
    height: 3px;
    background-color: #000;
    margin: 3px;
    transition: all 0.3s ease;
    border-radius: 50px;
}

@media screen and (max-width: 992px) {

    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        justify-content: space-between;
    }
    .hotels-mobile, .cars-mobile, .stay-drive-mobile, .emotions-mobile, .filters-mobile, .hotels-multi-search-mobile {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        justify-content: space-between;
    }
    .filters-mobile {
        overflow-x: scroll;
    }
}

.mob-menu-height {
    height: 70px;
    padding-right: 10px;
}

.mobile-nav-bottom-grp {
    height: 80%;
}

.overlay-hotel .fa-hotel, .overlay-cars .fa-car-alt,
.overlay-stay-drive .fa-bed,
.overlay-stay-drive .fa-car-alt,
.overlay-emotions .fa-grin {
    font-size: 30px;
    color: #EFA00B;
}

.overlay-hotel, .overlay-cars, .overlay-stay-drive, .overlay-emotions {
    padding: 8px 0 0 50px;
    font-size: 15px;
    color: #EFA00B;
    font-weight: bold;
}

.hotels-overlay-container, .cars-overlay-container, .stay-drive-overlay-container,
.emotions-overlay-container {
    height: 60%;
    padding-left: 20px;
}

.hotels-overlay-container .fa-location-pin, .cars-overlay-container .fa-location-pin, 
.stay-drive-overlay-container .fa-location-pin, .emotions-overlay-container .fa-location-pin {
    margin-left: 0;
}

.cars-overlay-container .pad-left {
    color: #EFA00B;
    font-size: 15px;
    font-weight: bold;
}

.cars-overlay-container .label-width, .emotions-overlay-container .label-width {
    font-size: 13px;
    color: #EFA00B;
}

.cars-overlay-container .location-menu-style {
    margin: 0;
}

.emotions-overlay-container .location-menu-style-city  {
    width: 184px;
}

.hotels-overlay-search-btn, .cars-overlay-search-btn, .stay-drive-overlay-search-btn,
.emotions-overlay-search-btn {
    padding: 20px 60px 20px 60px;
    background-color: #EFA00B;
    color: #000;
    text-transform: uppercase;
    border-radius: 50px;
    border: none;
    font-size: 18px;
}

.hotels-overlay-search-btn .fa-magnifying-glass, .cars-overlay-search-btn .fa-magnifying-glass, 
.stay-drive-overlay-search-btn .fa-magnifying-glass, .emotions-overlay-search-btn .fa-magnifying-glass{
    font-size: 22px;
    color: #000;
    padding: 0 10px 0 0;
}

.nav-active {
    transform: translateX(0%);
}

.hotels-active, .cars-active, .stay-drive-active, .emotions-active, .filters-active, .hotels-multi-search-mobile-active {
    transform: translateX(0%);
}

.fa-xmark {
    font-size: 36px;
    color: black;
    cursor: pointer;
    z-index: 1000;
}
.close-btn {
    height: 64px;
    background-color: #EFA00B;
    width: 66px;
    z-index: 1000;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-6px, 7px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-6px, -7px);
}

.top-menu {
    height: 20%;
}

.main-height {
    height: 80%;
}

.main-height-two {
    height: 50%;
}

.utilities {
    height: 50%;
}

.logo {
    background: transparent url('../holiday-emotions/images/Group-66.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 87px;
    height: 88px;
    background-position: center;
}

.phone, .business, .cart, .login-icon {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #fff;
    opacity: 1;
}

.header-links {
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.header-links-mobile {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 17px;
    display: flex;
    align-items: center;
}

.img-space-fix {
    padding-right: 5px;
}

.sign-up-btn-mobile {
    background-color: transparent;
    padding: 3px 16px 3px 16px !important;
    border: 2.5px solid #EFA00B;
    border-radius: 20px;
    color: #EFA00B;
}


.sign-up-btn {
    background-color: transparent;
    padding: 3px 18px 3px 18px !important;
    border: 2.5px solid #EFA00B;
    border-radius: 20px;
    color: #EFA00B;
}

.sign-up-btn:hover {
    color: #b37606;
    border-color:#b37606;
}

.sign-up-btn-mobile:hover {
    color: #b37606;
    border-color:#b37606;
}

.header-links:hover, .header-links-mobile:hover {
    color: #EFA00B;
}

.fa-facebook-f, .fa-instagram, .fa-linkedin-in, .fa-youtube, .fa-twitter {
    color: #f9faf8;
    font-size: 16px;
    padding-right: 12px;
  }

  .location-pin {
      padding-right: 7px;
  }

  .location-pin-right {
    padding-left: 10px;
}

  .fa-facebook-f:hover, .fa-instagram:hover, .fa-linkedin-in:hover, .fa-youtube:hover, .fa-twitter:hover {
    color: #EFA00B;
  }

  @media only screen and (max-width: 992px){
    .fa-facebook-f, .fa-instagram, .fa-linkedin-in, .fa-youtube, .fa-twitter {
        color: #f9faf8;
        font-size: 32px;
        padding-right: 25px;
      } 
}

.search-txt, .nav-location-txt, .nav-checkin-txt {
    background-color: transparent;
    border-bottom: solid 1px #EFA00B;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    padding-left: 10px !important;
}

.nav-location, .nav-checkin {
    display: flex;
    padding-right: 15px;

}

textarea:focus, input:focus{
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #EFA00B;
    font-size: 16px;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #EFA00B;
    font-size: 16px;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #EFA00B;
    font-size: 16px;
  }

  .weather {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      width: 20%;   
      margin-top: 5%;
  }

  .weather-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;   
    margin-top: 10%;
  }

.celsius {
    font-size: 24px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: solid 1px #fff;
}

.celsius-mobile {
    width: 150px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: solid 1px #fff;
}

.cel-loc-container {
    padding-left: 15px;
}

.location-name {
    font-size: 18px;
    color: #fff;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}

.title-container {
    width: 60%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-height: 690px) {
    .title {
        font-size: 65px !important;
    }
}

.title {
    font-size: 85px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
}

.title-mobile {
    font-size: 35px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 30px;
}

.title-container-mobile {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-angle-left, .fa-angle-right {
    font-size: 28px;
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .title {
        font-size: 65px;
        color: #fff;
        text-align: center;
        font-weight: 300;
        letter-spacing: 1px;
    }
    .nav-container {
        transform: scale(0.8);
    }
    .nav-submit {
        padding: 12px;
    }
    .carousel-container {
        transform: scale(0.8);
    }
  }

.sub-title {
    font-size: 15px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
}


.title-btn {
   background-color: #EFA00B;
   color: black;
   text-transform: uppercase;
   border: none;
   padding: 6px 35px;
   border-radius: 20px;
   font-size: 16px;
   font-weight: 600;
}

.title-btn:hover, .nav-submit:hover {
    background-color: #b37606;
}

.side-locations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 250px;
    width: 200px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    list-style-type: none;
    text-align: right;
}

.list-right {
    padding: 7px;
}

.side-locations-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-top: 5%;
}

.side-locations-links {
    text-decoration: none;
    color: #fff;
}

.side-locations-links:hover {
    color: #EFA00B;
}

.hotels, .cars, .stay, .emotions {
    background-color: transparent !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.hotels:hover, .cars:hover, .stay:hover, .emotions:hover {
    color: #EFA00B;
}

.vis-hide {
    visibility: hidden;
}


.bottom-search-nav {
    border-radius: 50px;
    background-color: #000000;
    max-width: 1200px;
}
.notround {
    border-radius: 50px 50px 50px 0 !important;
}

.bottom-search-nav-two {
    border-radius: 0 0 0 30px;
    background-color: #000000;
    max-width: 81.5%;
    padding: 22px 0 22px 0;
}

.bottom-nav-buttons {
    background-color: transparent;
    border: none;
    color: #EFA00B;
}

.bottom-nav-buttons:hover {
    color: #b37606;
}

.fa-location-pin {
    margin-left: 40px;
    color: #EFA00B;
}

.fa-calendar-alt {
    color: #EFA00B;
}

.nav-submit {
    background-color: #EFA00B;
    color: #000000;
    padding: 22px;
    border: none;
    border-radius: 0 50px 50px 0;
    width: 210px;
    font-size: 18px;
    font-weight: 600;
}

.search-span {
    margin-right: 10px;
}

.form-check-input {
    background-color: #EFA00B;
}

.form-check-input:checked {
    background-color: #EFA00B;
}

.dropdown-menu.show {
    background-color: #EFA00B;
}

.bottom-nav-list {
    list-style-type: none;
    font-size: 18px;
    text-align: left;
}

.location-menu-style {
    background-color: transparent;
    color: #EFA00B;
    border-bottom: solid 1px #EFA00B;
    border-top: none;
    border-right: none;
    border-left: none;
    max-width: 70px;
    margin: 0 10px 0 10px;
}

.location-menu-style-city {
    background-color: transparent;
    color: #EFA00B;
    border-bottom: solid 1px #EFA00B;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 150px;
    margin: 0 10px 0 10px;
}

.label-width {
    max-width: 150px;
    padding-left: 10px;
    font-size: 13px;
}

.nav-available-dates {
    background-color: transparent;
    color: #EFA00B;
    border-bottom: solid 1px #EFA00B;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 115px;
    margin: 0 10px 0 10px;
}

.available-dates {
    margin-left: 6px;
}

.pad-left {
    padding-left: 5px;
}

.active {
    color: #EFA00B !important;
}

.second-background-color {
    background-color: #FEF9EF;
    height: 138px;
}

.bottom-more {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding: 2px;
}

.bottom-more:hover {
    color: #EFA00B;
}

.discover-more-container {
    width: 135px;
}

.bottom-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-image {
    width: 100%;
}

.height-fix {
    margin-top: 15px;
}

.destinations-icon-container, .activities-icon-container, .dental-holidays-icon-container, .gastronomy-icon-container, .entertainment-icon-container, .shopping-icon-container {
    padding-right: 20px;
}

.second-links {
    text-decoration: none;
    font-size: 20px;
    color: #000000;
}

.second-links:hover {
    color: #EFA00B;
}

.fa-chevron-left, .fa-chevron-right {
    color: #EFA00B;
    font-size: 30px;
    cursor: pointer;
    padding: 50px;
}

@media only screen and (max-width: 992px){
    .fa-chevron-left, .fa-chevron-right {
        color: #EFA00B;
        font-size: 30px;
        cursor: pointer;
        padding: 5px;
    }
}

.fa-chevron-left:hover, .fa-chevron-right:hover {
    color: #b37606;
    cursor: pointer;
}

.carousel-title {
    text-align: center;
    font-weight: 400;
    padding: 50px;
    font-size: 40px;
}

.carousel-title-mobile {
    text-align: left;
    font-weight: 400;
    padding: 10px;
    font-size: 25px;
    width: 75%;
}

.arrows-mobile, .arrows-mobile-two, .arrows-mobile-three, .arrows-destination, .arrows-destination-two {
    width: 25%;
}

.arrows-mobile .fa-angle-left, .arrows-mobile .fa-angle-right,
.arrows-mobile-two .fa-angle-left, .arrows-mobile-two .fa-angle-right,
.arrows-mobile-four .fa-angle-left, .arrows-mobile-four .fa-angle-right,
.arrows-destination .fa-angle-left, .arrows-destination .fa-angle-right,
.arrows-destination-two .fa-angle-left, .arrows-destination-two .fa-angle-right,
.arrows-mobile-destinations-one .fa-angle-left, .arrows-mobile-destinations-one .fa-angle-right,
.arrows-mobile-destinations-two .fa-angle-left, .arrows-mobile-destinations-two .fa-angle-right,
.arrows-mobile-destinations-three .fa-angle-left, .arrows-mobile-destinations-three .fa-angle-right,
.arrows-mobile-destinations-four .fa-angle-left, .arrows-mobile-destinations-four .fa-angle-right {
    font-size: 16px;
    color: #000;
    padding: 7px;
    border: solid 1px #DCDFE4;
    border-radius: 50%;
    margin: 5px;
    width: 30px;
    text-align: center;
}

.arrows-mobile-three .fa-angle-left, .arrows-mobile-three .fa-angle-right {
    font-size: 16px;
    color: #fff;
    padding: 7px;
    border: solid 1px #fff;
    border-radius: 50%;
    margin: 5px;
    width: 30px;
    text-align: center;
}

.mobile-bg-color {
    background-color: #EFA00B;
}
.mobile-card-margin {
    margin: 0 10px 0 10px;
}

.mobile-carousel-three-color {
    background-color: #EFA00B;
    margin-bottom: 10px;
}

.carousel-landing-page {
    max-width: 1350px;
}

.carousel-mobile {
    max-width: 100%;
    /* overflow-x: scroll; */
}

.carousel-container-mobile {
    width: 100%;
}

.carousel-txt-container {
    padding: 20px;
    text-align: left;
    max-width: 269px;

}

.carousel-image-titles {
    font-size: 25px;
    z-index: 1000;
}

.carousel-image-subtext {
    font-size: 16px;
    color: #64697A;
    z-index: 1000;
}

.overlay-right {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    background: #fff;
    z-index: 100;
    height: 100%;
}

.overlay-right::after {
        content: '';
        position: absolute;
        background: #fff;
        width: 30px;
        height: 40px;
        z-index: 0;
        border-radius: 70%;
        bottom: 40px;
        right: 0;
        margin-right: -14px;
        transform: scale(1.4, 1.4);
}

.overlay-left {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 100;
    height: 100%;
}

.overlay-left::after {
    content: '';
    position: absolute;
    background: white;
    width: 30px;
    height: 40px;
    z-index: 0;
    border-radius: 70%;
    top: 40px;
    left: 0;
    margin-left: -17px;
    transform: scale(1.4, 1.4);
}

.section-image-left-container {
    background: url(../holiday-emotions/images/pexels-dana-tentis.png) no-repeat;
    background-position: center;
    background-size: cover;
    width: 888px;
    height: 307px;
}

.section-image-right-container {
    background: url(../holiday-emotions/images/Discount.png) no-repeat;
    background-position: center;
    background-size: cover;
    width: 436px;
    height: 290px;
}

.cta-offers {
    background-color: #E7BA1E19;
}

.cta-right-btn {
    background-color: #79C8CD;
    color: #000;
    border: none;
    border-radius: 20px;
    padding: 5px 50px 5px 50px;
    font-size: 15px;
    font-weight: bold;
    /* margin: 20px 20px 20px 40px; */
    transform: translate(30%, -60%);
}

.cta-right-btn:hover {
    background-color: #63a1a5;
}

.cta-container {
    text-align: center;
}

.cta-header {
    color: #fff;
    letter-spacing: 1px;
    font-size: 38px;
    font-weight: 300;
    padding: 10px;
}

.cta-left-btn {
    background-color: #EFA00B;
    border: none;
    border-radius: 20px;
    padding: 5px 50px 5px 50px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    color: #000;
}

.cta-left-btn:hover {
    background-color: #b37606;
}

.tag {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1.2s;
  }
  
  .tag.visible {
    opacity: 1;
    transform: translate(0, 0);
  }

.card-title {
    font-size: 25px;
}

.card-title-mobile {
    font-size: 22px;
    color: #fff;
}

.card-text {
    font-size: 16px;
}

.card-text-two {
    font-size: 14px;
}

.fa-clock {
    padding-right: 8px;
    font-size: 14px;
}

.fa-euro-sign {
    padding-right: 12px;
    font-size: 14px;
}

.card-duration, .card-price {
    margin: 0;
}

.card-btn {
    background-color: transparent;
    border: solid 2px black;
    border-radius: 20px;
    padding: 5px 40px 5px 40px;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.mobile-card-btn {
    background-color: transparent;
    border: solid 2px #fff;
    border-radius: 20px;
    padding: 5px 60px 5px 60px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

.mobile-card-btn:hover {
    color: black;
    border-color: black;
}

.card-btn:hover {
    background-color: #EFA00B;
}

.card-group-header {
    text-align: center;
    font-size: 40px;
    padding: 20px;
    font-weight: 400;
}

.cb-hover-fix:hover, .overlay-top:hover::after, .overlay-bottom:hover::after {
    background-color: #DCDFE4;
}

.overlay-top {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 100;
    height: 100%;
}

.overlay-top::after {
    content: '';
    position: absolute;
    background: #fff;
    width: 40px;
    height: 20px;
    z-index: 0;
    border-radius: 70%;
    top: 40px;
    left: 149px;
    margin-top: -47px;
    transform: scale(1.4, 1.4);
}

.overlay-bottom {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 100;
    height: 100%;
}

.overlay-bottom::after {
    content: '';
    position: absolute;
    background: #fff;
    width: 40px;
    height: 20px;
    z-index: 0;
    border-radius: 70%;
    bottom: 40px;
    left: 147px;
    margin-bottom: -47px;
    transform: scale(1.4, 1.4);
}

  @media only screen and (max-width: 1356px) {
    .overlay-top::after {
        content: '';
        position: absolute;
        background: #fff;
        width: 40px;
        height: 20px;
        z-index: 0;
        border-radius: 70%;
        top: 40px;
        left: 42%;
        margin-top: -47px;
        transform: scale(1.4, 1.4);
    }
    .overlay-bottom::after {
        content: '';
        position: absolute;
        background: #fff;
        width: 40px;
        height: 20px;
        z-index: 0;
        border-radius: 70%;
        bottom: 40px;
        left: 42%;
        margin-bottom: -47px;
        transform: scale(1.4, 1.4);
    }
  }

.box-left {
    background: linear-gradient(0deg, rgba(0,0,0,.75) 2%, rgba(0,0,0,0) 60%),
                url(../holiday-emotions/images/wines.png) no-repeat;
    background-size: auto;
    background-position: center;
    width: 50%;
    height: auto;
}

.box-left-content-container {
    padding-bottom: 40px;
}

.box-left-header {
    color: #fff;
    font-size: 25px;
    padding: 20px 40px 0 40px;
}

.box-left-para-one {
    color: #fff;
    font-size: 16px;
    padding: 0 40px 0 40px;
}

.box-left-para-two {
    color: #fff;
    font-size: 14px;
    padding: 0 40px 0 40px;
}

.box-left-btn-container {
    padding: 10px 40px 0 55px;
}

.box-left-btn {
    color: #fff;
    background-color: transparent;
    padding: 3px 50px 3px 50px;
    border: 1px solid #fff;
    border-radius: 20px;
}

.box-left-btn:hover {
    color: #EFA00B;
    border-color: #EFA00B;
}

.box-right {
    width: 50%;
}

.img-container {
    width: 100%;
}

.addimgs {
    width: 100%;
}

.btn-container-cards {
    margin-top: 5%;
}

.btn-container-cards-two {
    margin-bottom: 10%;
}

.cards-title-pad-fix {
    padding: 20px 20px 0 20px
}

.cards-text-pad-fix {
    padding: 0 20px 0 20px;
}

.mw-fix {
    max-width: 1350px;
}

.boxes-btn {
    background-color: #fff;
    border: none;
    border-radius: 20px;
    padding: 5px 50px 5px 50px;
    font-size: 15px;
    font-weight: bold;
}

.boxes-btn:hover {
    background-color: rgb(219, 219, 219);
}

.card-color {
    background-color: #EFA00B;
}

.box-title {
    font-size: 22px;
    color: #fff;
    text-align: left;
    padding: 25px 0 6px 25px;
}

.box-text {
    font-size: 14px;
    color: #fff;
    text-align: left;
    padding: 2px 10px 4px 25px;
}

.overlay-right-two {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    background: #EFA00B;
    z-index: 100;
    height: 100%;
    padding: 25px 25px 0 25px;
}

.overlay-right-two::after {
        content: '';
        position: absolute;
        background: #EFA00B;
        width: 20px;
        height: 40px;
        z-index: 0;
        border-radius: 70%;
        bottom: 130px;
        right: 0;
        margin-right: -6px;
        transform: scale(1.4, 1.4);
}

.overlay-left-two {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #EFA00B;
    z-index: 100;
    height: 100%;
    padding: 25px 25px 0 25px;
}

.overlay-left-two::after {
    content: '';
    position: absolute;
    background: #EFA00B;
    width: 20px;
    height: 40px;
    z-index: 0;
    border-radius: 70%;
    top: 120px;
    left: 0;
    margin-left: -7px;
    transform: scale(1.4, 1.4);
}

@media only screen and (max-width: 1400px) {
    .box-title {
        font-size: 19px;
    }
    .box-text {
        font-size: 12px;
    }
  }

  .set-container {
      max-width: 300px;
  }

  .set-container-mobile {
      margin: 15px;
  }

  .set-image-container {
      width: 50%;
  }

  .set-image-container-mobile {
    width: 100%;
}

  .set-image {
      width: 100%;
  }

  .para-container-mobile p{
    font-size: 16px;
    color: #64697A;
  }

  .para-container {
      width: 50%;
      padding: 10px;
  }

  .set-btn {
    background-color: #EFA00B;
    border: none;
    border-radius: 20px;
    padding: 5px 50px 5px 50px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 25px;
  }

  .set-btn:hover {
      background-color: #b37606;
  }

  #map {
      height: 600px;
  }

  .all-time-classic {
      height: 143px;
      width: 100%;
      background-color: #1BABE2;
  }

  .all-time-classic-mobile {
    height: 177px;
    width: 100%;
    background-color: #1BABE2;
  }

  .map-mw-fix {
      max-width: 1500px;
  }

  .numbers {
      font-size: 35px;
      font-weight: 300;
      color: #fff;
      margin-right: 10px;
      padding: 8px;
      border-right: 1px solid #fff;     
  }
  .numbers-mobile {
    font-size: 25px;
    font-weight: 300;
    color: #fff;
    border-bottom: 1px solid #fff;     
}

  .letters {
      font-size: 16px;
      font-weight: bold;
      color: #fff;
  }

  .letters-mobile {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}
  .atc-p-right {
      padding-right: 60px;
  }

  .img-container-one {
      background: url(../holiday-emotions/images/kid.png) no-repeat;
      background-position: center;
      width: 100%;
  }

  .img-container-two {
      background: url(../holiday-emotions/images/second-kid.png) no-repeat;
      background-position: top right;
      width: 100%;
  }

  .insta-image-container {
      max-width: 1050px;
  }
  .insta-image-sub-container {
      width: 20%;
      height: 20%;
  }

  .img-size-fix {
     width: 100%;
  }

  .insta-follow-link {
      text-decoration: none;
      color: #000000;
  }

  .insta-follow-link:hover {
      cursor: pointer;
      color: #EFA00B;
  }

  .bottom-border {
      border-bottom: solid 2px #DCDFE4;
  }

  .bpl-p-right {
      padding-right: 20px;
  }

  .bottom-page-par {
      font-size: 16px;
      color: #64697A;
  }

  .footer {
      height: 63px;
      background-color: #000000;
      color: #fff;
  }

  .footer-link {
      text-decoration: none;
      color: #fff;
  }

  .footer-link:hover {
      cursor: pointer;
      color: #EFA00B;
  }

  .map-overlay {
    height: 478px;
    width: 436px;
    background: rgba(0,0,0,.75);
    border-radius: 10px;
    font-size: 14px;
    z-index: 2000;
    top: 7%;
    left: 13%;
    position: relative;
  }

  .map-overlay-mobile {
    max-width: 378px;
    background: rgba(0,0,0,.75);
    border-radius: 10px;
    font-size: 14px;
    z-index: 2000;
  }

  .map-header-container {
      padding: 30px 20px 30px 20px;
  }

  .map-title {
      font-size: 40px;
      color: #EFA00B;
      font-weight: 300;
      padding-left: 15px;
  }

  .map-title-mobile {
    font-size: 30px;
    color: #EFA00B;
    font-weight: 300;
    padding-left: 15px;
}

  .map-text {
      font-size: 20px;
      color: #fff;
      text-align: center;
      padding: 0 30px 0 30px;
  }

.map-text-mobile {
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 0 30px 0 30px;
}


  .map-text-two {
      font-size: 13px;
      color: #fff;
      text-align: center;
      padding: 0 30px 0 30px;
  }

  .btn-container-map {
      margin-top: 3%;
  }

  .map-btn {
      padding: 5px 70px 5px 70px;
      background-color: transparent;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 20px;
      text-transform: uppercase;
  }

  .map-btn:hover {
      border-color: #EFA00B;
      color: #EFA00B;
  }

  .carousel-mobile-two .card, .carousel-mobile-three .card {
      border: none;
  }

  .hotel-awards-ratings-bg-color {
    background-color: rgba(220, 223, 228, 31%);
}