.destinations-header {
    background-color: #000;
}

.logo {
    background: transparent url('C:/Users/DeCoY/Desktop/repos/holiday-emotions/images/Group-66.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
}

.destinations-sub-container-one {
    background: linear-gradient(0deg, rgba(0,0,0,.70) 10%, rgba(0,0,0,0) 100%),
                url('C:/Users/DeCoY/Desktop/repos/holiday-emotions/images/delphi.png') no-repeat;
    width: 436px;
    height: 245px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.destinations-sub-container-two {
    background: linear-gradient(0deg, rgba(0,0,0,.70) 10%, rgba(0,0,0,0) 100%),
                url('C:/Users/DeCoY/Desktop/repos/holiday-emotions/images/delphi.png') no-repeat;
    width: 436px;
    height: 245px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.destinations-sub-container-three {
    background: linear-gradient(0deg, rgba(0,0,0,.70) 10%, rgba(0,0,0,0) 100%),
                url('C:/Users/DeCoY/Desktop/repos/holiday-emotions/images/delphi.png') no-repeat;
    width: 436px;
    height: 245px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.destinations-sub-container-four {
    background: linear-gradient(0deg, rgba(0,0,0,.70) 10%, rgba(0,0,0,0) 100%),
                url('C:/Users/DeCoY/Desktop/repos/holiday-emotions/images/delphi.png') no-repeat;
    width: 436px;
    height: 245px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.destinations-sub-container-five {
    background: linear-gradient(0deg, rgba(0,0,0,.70) 10%, rgba(0,0,0,0) 100%),
                url('C:/Users/DeCoY/Desktop/repos/holiday-emotions/images/lady-on-sea.png') no-repeat;
    width: 888px;
    height: 245px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.clickable-img {
    text-decoration: none;
    color: #fff;
}

.clickable-img:hover {
    color: #EFA00B;
}

.destinations-maxwidth {
    max-width: 1650px;
}