.destinations-header {
    background-color: #000;
}

.logo {
    background: transparent url('C:/Users/DeCoY/Desktop/repos/holiday-emotions/images/Group-66.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
}

.sub-container-title {
    font-size: 25px;
    color: #fff;
}

.destinations-sub-container-small {
    width: 323px;
    height: 245px;
    border-radius: 15px;
}

.destinations-sub-container-medium {
    width: 436px;
    height: 245px;
    border-radius: 15px;
}

.destinations-sub-container-big {
    width: 549px;
    height: 245px;
    border-radius: 15px;
}
.destinations-sub-container-biggest {
    width: 888px;
    height: 245px;
    border-radius: 15px;
}
.clickable-img {
    text-decoration: none;
    color: #fff;
}

.clickable-img:hover {
    color: #EFA00B;
}
.clickable-img h2 {
    font-size: 25px;
}

.destinations-maxwidth {
    max-width: 1650px;
}

.second-links {
    font-size: 16px;
}

.carousel {
    width: 662px;
}

.carousel-inner {
    border-radius: 15px;
}

.destination-overlay-left {
    background: url('C:/Users/DeCoY/Desktop/repos/holiday-emotions/images/subtraction-14.svg') no-repeat;
    position: absolute;
    top: 85px;
    left: 0;
    width: 44px;
    height: 202px;
    z-index: 1;
}
.destination-overlay-right {
    background: url('C:/Users/DeCoY/Desktop/repos/holiday-emotions/images/subtraction-13.svg') no-repeat;
    position: absolute;
    top: 85px;
    right: 0;
    width: 44px;
    height: 202px;
    z-index: 1;
}

.carousel-control-prev {
    justify-content: start;
    opacity: 1;
}

.carousel-control-next {
    justify-content: end;
    opacity: 1;
}

.carousel-control-prev-icon {
    background-image: url('C:/Users/DeCoY/Desktop/repos/holiday-emotions/images/destination-arrow-left.svg');
    z-index: 100;
}
.carousel-control-next-icon {
    background-image: url('C:/Users/DeCoY/Desktop/repos/holiday-emotions/images/destination-arrow-right.svg');
    z-index: 100;
}

#destination-map {
    height: 171px;
    width: 328px;
}

.destination-max-width {
    max-width: 1450px;
}

.destination-ul {
    list-style-type: '- ';
}

.destination-links {
    text-decoration: none;
    color: #000;
}

.destination-links:hover {
    color: #EFA00B;
}

.aside-container {
    background-color: #fdf6e7;
    border-radius: 15px;
    width: 326px;
    padding: 10px;
}

.aside-container h3 {
    font-size: 20px;
    color: #EFA00B;
}

.aside-container p {
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}

.article h2 {
    font-size: 25px;
}

.article p {
    font-size: 16px;
    color: #64697A;
}

.top-attractions-bg-color {
    background-color: #EFA00B19;
}

.top-attractions-bg-color h3 {
    padding-left: 30px;
}

.card-group-header {
    font-size: 25px;
}

.set-image {
    border-radius: 15px;
    z-index: 1;
}
.set-image-container-overlay {
    background: url('C:/Users/DeCoY/Desktop/repos/holiday-emotions/images/subtraction-11.svg') no-repeat;
    position: relative;
    top: -104px;
    left: 138px;
    width: 13px;
    height: 60px;
    z-index: 100;
}

.destination-utilities {
    background-color: #000;
    border-radius: 15px;
    height: auto;
}

.destination-utilities h2 {
    font-size: 20px;
    color: #EFA00B;
    font-weight: bold;
    text-align: center;
}

.destination-nav-submit {
    width: auto;    
    border-radius: 15px;
    padding: 3px 23px 3px 23px;
    background-color: #EFA00B;
    border: none;
}

.destination-nav-submit:hover {
    background-color: #d18b09;
}

.destination-nav-submit .fa-magnifying-glass {
    color: black;
    padding: 0;
}

.nav-submit .fa-magnifying-glass {
    color: black;
    padding: 0;
}

.destination-bottom-search-nav {
    max-width: 250px;
}

.fa-location-pin {
    margin-left: 0;
}

.nav-location {
    padding-right: 22px;
}

.carousel-container-destination {
    width: 330px;
}

.cards-text-pad-fix {
    padding: 10px 20px 10px 20px;
    color: #64697A;
}

.card-price {
    color: #000;
}

.mobile-card-margin {
    border-radius: 15px;
}

.destination-under-carousel-btn {
    background-color: #64697A;
    color: #fff;
    width: 319px;
    padding: 5px 20px 5px 20px;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    margin: 10px 5px;
}

.destination-under-carousel-btn:hover {
    background-color: #7f838f;
}

.destination-carousel-img-container {
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.cb-hover-fix:hover {
    border-radius: 0 0 14px 14px;
}

.carousel-two-title {
    padding: 20px 20px 0 20px;
    font-size: 18px;
    font-weight: bold;
    color: #64697A;
}

.destination-this-month-container {
    height: 260px;
    width: 260px;
}

.this-month-card {
    width: 260px;
    border: none;
    margin: 0 10px 0 10px;
}

.cards-title-pad-fix {
    padding: 10px 5px;
}

.hotel-search-background {
    background: url('C:/Users/DeCoY/Desktop/repos/holiday-emotions/images/lady-on-sea.png') no-repeat;
    background-position: top;
    background-size: cover;
    height: 203px;
}

.hotels-utilities .fa-location-pin {
    margin-left: 20px;
}

.hotel-search-results {
    height: 34px;
    background-color: #E7BA1E19;
}

.hotel-search-results select {
    border: none;
    background-color: transparent;
    color: black;
}

.hotel-search-results p {
    color: #7f838f;
}

.hotel-search-results strong {
    color: black;
}

.hotel-search-results a {
    text-decoration: none;
    color: black;
}

.hotel-search-results a:hover {
    color: #EFA00B;
}

.hotel-carousel .carousel {
    width: 378px;
}

.hotel-carousel-overlay-left {
    background: url('C:/Users/DeCoY/Desktop/repos/holiday-emotions/images/nudge-left.svg') no-repeat;
    position: absolute;
    top: 50px;
    left: 0;
    width: 25px;
    height: 120px;
    z-index: 1;
}

.hotel-carousel-overlay-right {
    background: url('C:/Users/DeCoY/Desktop/repos/holiday-emotions/images/nudge-right.svg') no-repeat;
    position: absolute;
    top: 50px;
    right: 0;
    width: 25px;
    height: 120px;
    z-index: 1;
}

.hotel-carousel .carousel-control-prev-icon, .hotel-carousel .carousel-control-next-icon {
    width: 13px;
}